.gallery
  - @photos.each do |photo|
    - if photo.resize == true 
      = image_tag photo.photo.url(:resize), class: 'carousel'
    - else
      = image_tag photo.photo.url(:original), class: 'carousel' 
