.text
  %h1
    ¿Quiénes somos?
  %p.texto3
    18.08 es una concept store creada para apoyar el diseño en México, nuestro objetivo es ofrecer
    una plataforma para nuevos talentos.
    Actualmente contamos con mas de 50 diseñadores de diferentes áreas: ropa, joyería, bolsas, hogar, libros
    & arte.
    %br
    %br
    [Coolhuntermx, Nylon, Instyle y Elle mencionan a 18.08 / suite de mode como un espacio comprometido
    con la moda y con mucha propuesta mexicana]
.leftbar
  = image_tag('barra.png')
.rightbar
  = image_tag('barra.png')
