.text
  %h1
    ¿Quiénes somos?
  %p.texto3
    DIECIOCHO ES UNA CONCEPT STORE CREADA PARA APOYAR EL DISEÑO EN MÉXICO, NUESTRO OBJETIVO ES OFRECER UNA
    PLATAFORMA PARA NUEVOS TALENTOS
    ACTUALMENTE TENEMOS MAS DE 50 DISEÑADORES DE DIFERENTES ÁREAS: ROPA, JOYERÍA, BOLSAS, HOGAR, LIBROS Y ARTE.
    %br
    %br
    [ COOLHUNTERMX, NYLON, INSTYLE Y ELLE MENCIONAN A 18.08 / suite de mode COMO UN ESPACIO COMPROMETIDO
    CON LA MODA Y CON MUCHA PROPUESTA MEXICANA. ]
.leftbar
  = image_tag('barra.png')
.rightbar
  = image_tag('barra.png')
