.wrapper
  .content
    %h1
      ¿QUIENES SOMOS?
    %p.texto3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum risus, malesuada nec tincidunt at, fringilla et turpis. Pellentesque interdum porttitor dolor, fermentum fermentum tellus tincidunt facilisis. Donec luctus egestas sem, vel ultricies est sollicitudin at. Maecenas id quam nisi. Donec nec libero mi, a ultricies leo. Vivamus et ipsum ante. Phasellus enim nisi, porttitor at semper quis, congue at ipsum. Duis ante lectus, feugiat vel consectetur quis, eleifend eu purus. Curabitur eu pellentesque risus. Pellentesque pretium consequat consectetur.
    .leftbar
      = image_tag("barraizquierda.png")
    .rightbar
      = image_tag("barraderecha.png")
