.text
  %h1
    ¿Quiénes somos?
  %p.texto3
    18.08 es una concept store creada para apoyar el diseño en Mexico, nuestro objetivo es ofrecer
    una plataforma para nuevos talentos.
    Actualmente contamos con mas de 50 diseñadores de diferentes areas: ropa, joyeria, bolsas, hogar, libros
    & arte.
    %br
    %br
    [Coolhuntermx, nylon, instyle y elle mencionan a 18.08 / suite de mode como un espacio comprometido
    con la moda y con mucha propuesta mexicana]
.leftbar
  = image_tag('barra.png')
.rightbar
  = image_tag('barra.png')
