body.photos {
  * {
    font-family: helvetica,arial,sans-serif;
  }
  .wrapper {
    margin: 0 auto;
    width: 900px;

    padding-top: 20px;
    .content {
      background-color: #ECEAE9;
      min-height: 350px;
      padding: 30px;
      .image {
        float: left;
        padding: 5px;
        background: white;
        border-radius: 5px;
        position: relative;
        height: 100px;
        width: 100px;
        margin: 0 5px 5px 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        a {
          position: absolute;
          right: 4px;
          top: 4px;
        }
      }
      li.image {
        float: none;
        margin: 10px auto;
      }
      .album {
        float: left;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        background: white;
        padding: 10px;
        h1 {
          padding: 10px;
        }
        .droppable {
         padding-top: 10px;
         width: 260px;
         border: 1px solid black;
         overflow: hidden;
         min-height: 100px;
         display: none;

          li {
            padding: 5px 12px;
            text-align: center;
            background-color: #D6D6D6;
            margin-top: 3px;
            border-top: 1px solid black;
            border-bottom: 1px solid black; 
            a {
              display: block;
              width: 130px;
              height: 20px;
            }
          }
        }
      }
      .photos {
        float: right;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        background: white;
        padding: 10px;
        form {
          float: right;
          padding-bottom: 10px;
        }
        .repo {
          min-height: 300px;;
          width: 455px;
          clear: both;
          background: #ECEAE9;
          border-radius: 2px;
          padding: 10px;
        }
      }
    }
  }
}

.clear {
  clear: both;
}
