@font-face {
	font-family: 'FuturaBT-Book';
	src:url(FuturaBT-Book.otf);
}
body.static_pages {
  #maindiv {
    width:960px;
    margin: 0 auto;
    #menu {
      width:960px;
      text-align:center;
      margin-top: 5px;
      height:61px;
      ul {
        display: inline-block;
        li {
          display: block;
          float: left;
          height: 30px;
	  list-style: none;
	  margin:0px 24px;
	  padding-top: 25px;
	  &.logo {
	    padding-top: 0px;
	    height: 55px;
	  }
	  a {
	    text-decoration:none;
	    font-size: 12px;
	    font-family: Century Gothic, sans-serif !important;
	    font-style: italic;
	    letter-spacing: 3px; 
	    color:#B0B0B0;
	    font-weight:bold;
	    &:hover, &.active {
	      color: #606060;
	    }
          }
        }
      }
    }

    #footer {
      width:960px;
      #creditos {
        font-family: "Times New Roman";
        font-size: 8px;
        float: left;
        margin-top: 27px;
        color: #6D6E71;
        padding-left: 5px;
        strong {
          font-weight: bold;
        }
      }
      #socialbookmarts {
        height:30px;
        width:85px;
        float: right;
        text-align:center;
        margin: 15px 4px;

	li {

          display:inline-block;
          list-style:none;
          float:left;
          font-size: 0;
          a {
            height:27px;
            width:27px;
            display: block;
            padding-top: 6px;
            &.twitter {
              background: white url(twitternegativo.png) no-repeat center;
              padding-top: 10px;
            }
            &.facebook {
              background: white url(facebooknegativo.png) no-repeat center;
            }
            &.tumblr {
              background: white url(tumblrnegativo.png) no-repeat center;
            }
          }
        }
      }
    }
  }
}

body.static_pages {
  .wrapper {
    width: 960px;
    height: 520px;
    position: relative;
    overflow: hidden;
    padding-top: 3px;
    .content {
      width: 960px;
      height: 525px;
      position: absolute;
    }
    .leftbar, .rightbar {
      position: absolute;
      top: 0;
    }
    .leftbar { left: 0; }
    .rightbar { right: 0; }
  }
}

.content.prensa {
  .prensa-gallery {
    width: 1934px;
    height: 525px;
    margin-left: -332px;

    li {
      display: inline-block;
      float: left;
      height: 525px;
      width: auto;
      &.imagenes {
        border-left: 7px solid black;
        border-right: 7px solid black;
      }
    }
  }
}

.content.quienes_somos {
  font-family: Georgia, Serif !important;
  background: black;
  .text {
    width: 500px;
    margin: 0 auto;

    h1 {
      padding-top: 125px;
      font-style: italic;
      color: white;
      font-size: 40px;
      height: 70px;
    }

    .texto3 {
      color: white;
      line-height: 1.6;
      font-size: 11px;
      text-align: justify;
    }
  }
}

.content.contacto {
  font-family: Georgia, Serif !important;
  background: black;
  margin: 0 auto;
  width: 650px;
  color: white;
  padding-top: 90px;
  height: auto;
  .info {
    margin: 0 auto;
    width: 650px;
    .form {
      margin-top: 15px;
      float: left;

      h1 {
        width: 400px;
        font-size: 40px;
        text-align: right;
        margin-bottom: 15px;
        font-style: italic;
      }
      form {
        li {
          padding-bottom: 10px;
          label {
            display: block;
            width: 85px;
            text-align: right;
            float: left;
            text-transform: uppercase;
            font-size: 12px;
          }
          input[type="text"], textarea {
            margin-left: 15px;
            width: 298px;
            border: inset 1px #f0f0f0;
          }
          textarea { height: 130px; }
        }
        input[type="submit"] {
          float: right;
          font-size: 12px;
          border: none;
          padding: 2px 4px;
        }
      }
    }
    address {
      font-size: 12px;
      float: right; 
      padding-top: 229px;
    }
  }
}

img.carousel {
  display: none;
}
.clear {
  clear: both;
}
