body, #index {
  .content {
    width:960px;
    margin:0px;
    padding:0px;
  
    .wrapper {
      width:960px;
      height:525px;
    }
  }
}


body, #prensa {

  .content {
    width:960px;
    margin:0px;
    padding:0px;
    overflow:hidden;
  
    .wrapper {
      width:1934px;
      height:525px;
      margin-left: -332px;
      li {
        display:inline-block;
        list-style:none;
        float:left;
        height:525px;
        width:auto;
        &.imagenes {
          border-left: 7px solid black;
          border-right: 7px solid black;
        }
      }
    }
  }
}
