@font-face {
  font-family: 'FuturaBT-Book';
  src:url(FuturaBT-Book.otf);
}

body.index {
  .wrapper {
    width:960px;
    .content {
      width:960px;
      height:525px;
    }
  }
}


body.prensa {

  .wrapper {
    width:960px;
    overflow:hidden;

    .content {
      width:1934px;
      height:525px;
      margin-left: -332px;
      li {
        display:inline-block;
        list-style:none;
        float:left;
        height:525px;
        width:auto;
        &.imagenes {
          border-left: 7px solid black;
          border-right: 7px solid black;
        }
      }
    }
  }
}

body.quienes_somos {

  .wrapper{
    width:960px;
    background-color:black;
    height:525px;
    .content {
      width:500px;
      margin: 0 auto;
      h1 {
        padding-top: 125px;
        font-style:italic;
        color:white;
        font-size:40px;
        height: 70px;
      }
      .texto3 {
        color: white;
        line-height: 1.6;
        font-size: 11px;
        text-align: justify;
      }
    }
  }
}
